#site-header {
    border-bottom: 2px solid $secondary-color;
    padding: 1rem 0;
}

#site-content {
    margin: 4rem auto;
}

#site-footer {
    border-top: 2px solid $secondary-color;
    padding: 1rem 0;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .05rem;
    font-size: .8rem;
}



// Typography
h1 {
    font-weight: 700;
}
h2 { 
    font-weight: 400;
    font-style: italic;
}
