#site-header {
    border-bottom: 2px solid $secondary-color;
    padding: 1rem 0;
}

#site-content {
    margin: 4rem auto;
}

#site-footer {
    border-top: 2px solid $secondary-color;
    padding: 1rem 0;
}
