// HEADER
#site-header {
    border-bottom: 2px solid $secondary-color;
    padding: 1rem 0;
}


// CONTENT
#site-content {
    margin: 4rem auto;

    // Homepage
    ul.posts {
        display: none;
        @include block-grid(3);
    }

    // Posts
    header {
       margin: -2rem 0 2rem -2rem;
       background: rgba(255,255,255,.5);
       border: 1px solid $secondary-color;
       padding: 20px;
    }
    .post-meta {
        display: inline-block;
        background: $primary-color;
        padding: 4px 10px; 
        color: $secondary-color;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: .8rem;
        line-height: 1rem;

        a { color: lighten($primary-color, 50%); }
    }

    footer {
        a {
            @include button;
            display: inline-block;
            width: calc(50% - 10px);
            &.previous {margin-right: 5px;}
            &.next {
                margin-left: 5px;
                float: right;
            }
        }
    }
}


// FOOTER
#site-footer {
    border-top: 2px solid $secondary-color;
    padding: 1rem 0;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .05rem;
    font-size: .8rem;
}



// TYPOGRAPHY
h1 {
    font-weight: 700;
}
h2 { 
    font-weight: 400;
    font-style: italic;
}




